.git/**
.vscode/**
.gitignore
.gitleaks.toml
.lychee*
.npmpackagejsonlintrc.json
.prettierignore
.remark*
.secretlintrc.cjs
.vscode/
.yamllint
docs/**
node_modules/**
package-lock.json
prettier.config.mjs
reports/
scripts/**
*.vsix
new-extension-theme-goal.md
